$color-dart: #1c232e;
$color-light: #3a424e;
$color-active: dodgerblue;
$btn-size: 50px;
$btn-text-color: #fff;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.wrap{
    width: 860px;
    margin: 0 auto;
}
.raw{
    display: flex;
    margin: 10px 0;
}
.button{
    position: relative;
    min-width: $btn-size;
    height: $btn-size;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: $btn-size;
    color: $btn-text-color;
    border-radius: 3px;
    margin-right: 5px;
    cursor: pointer;
    background-color: $color-dart;
    flex-grow: 1;
    &:last-child{
        margin-right: 0;
    }
    &:active{
        background-color: $color-active;
    }
}
.active{
    background-color: $color-active!important;
}
.light{
    background-color: $color-light
}
.text-field{
    margin-top: 50px;
    width: 100%;
    height: 150px;
    border: 1px solid $color-light;
    padding: 10px;
    resize: none;
}